{% extends "index.html" %}

{% block title %} Dashboard {% endblock %} 

{% block body %}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Equipos Registrados</h4>
                <!-- <p class="card-category"></p> -->
            </div>
            <div class="col-md-12 justify-content-around">
                <div class="d-flex flex-row" style="padding-top: 20px;">
                    <a href="{% url 'equipformSensor' %}" type="button" class="btn btn-primary"><i class="fa fa-plus-square"
                            aria-hidden="true"></i> | Añadir
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Sitio</th>
                                <th scope="col">Espacio</th>
                                <th class="text-center" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for equip in equips %}
                            <tr>
                                <th scope="row">{{ equip.id }}</th>
                                <td>{{ equip.name }}</td>
                                <td>{{ equip.equipref }}</td>
                                <td>{{ equip.zone.name }}</td>
                                <td>{{ equip.space.name }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-warning" onclick=updateEquip({{ equip.id }})>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" onclick=deleteEquip({{ equip.id }})>
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var BASE_URL = "{{ request.scheme }}://{{ request.get_host }}";
    function updateEquip(id) {
        window.location.href = BASE_URL + "/sensor/updateFormEquip/" + id;
    }

    function deleteEquip(id) {
        url = BASE_URL + "/sensor/deleteEquip/" + id
        let csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
        })
            .then(response => {
                if (response.ok) {
                    location.reload()
                } else {
                    console.log('Error');
                }
            })
            .catch(error => {
                console.log('Error:', error);
            });
    } 
</script>
{% endblock %}