{% extends "index.html" %}

{% block title %} Dashboard {% endblock %}

{% block body %}
<div class="row">

    <div class="col-md-12">

        <div class="card">

            <div class="card-header card-header-primary">
                <h4 class="card-title ">Crear Nueva Entidad</h4>
                <!-- <p class="card-category"></p> -->
            </div>

            <div class="card-body">
                <form id="sensorForm" method="post" action="{% url 'postSensor' %}"
                    class="row g-3 justify-content-around">
                    {% csrf_token %}
                    <span>Datos de la Entidad:</span>
                    <div class="col-md-12">
                        <label for="name" class="form-label">Nombre</label>
                        <input required type="text" name="name" class="form-control" id="name">
                    </div>
                    <div class="col-md-3">
                        <label for="inputStateEquip" class="form-label">Equipo</label>
                        <select required id="inputStateEquip" name="equip" class="form-select">
                            <option></option>
                            {% for equip in equips %}
                            <option value="{{ equip.id }}" data-space="{{ equip.space.name }}"
                            data-zone-id="{{ equip.space.zone.id }}" data-zone-name="{{ equip.space.zone.name }}">{{ equip.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="spacename" class="form-label">Espacio</label>
                        <input required type="text" name="space" class="form-control" id="spacename" readonly>
                    </div>
                    <div class="col-md-3">
                        <label for="inputState" class="form-label">Sitio</label>
                        <select required id="inputState" name="zone" class="form-select" disabled>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="serial_uuid" class="form-label">Serial</label>
                        <input required type="text" name="serial" class="form-control" id="serial_uuid">
                    </div>
                    <div class="col-md-9">
                        <label for="uri" class="form-label">Url</label>
                        <input required type="text" name="uri" class="form-control" id="uri">
                    </div>

                    <div class="col-md-3">
                        <label for="protocolState" class="form-label">Protocolo</label>
                        <select required id="protocolState" name="protocol" class="form-select">
                            {% for tag in tags %}
                            {% if tag.category == "protocol" and tag.state == "A" %}
                            <option value={{ tag.id }}>{{ tag.id }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    
                    <span>Comunicacion:</span>
                    <div id="http" style="padding: 0px; display: none;" >
                        <div class="d-flex" style="padding-top: 10px;">
                            <div class="col-md-6">
                                <label for="method" class="form-label">Metodo</label>
                                <select required id="method" name="method" class="form-select">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <span> Por Cada:</span>
                                <div id="number">
                                    <div class="row">
                                        <div class="col">
                                            <select id="horahttp" name="horahttp" class="form-select">
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select id="minutehttp" name="minutehttp" class="form-select">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex" style="padding-top: 10px;">
                            <div class="col-md-6">
                                <span> Params:</span>
                                <div id="inputParams">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" name="baseParamKey" class="form-control"
                                                placeholder="Key">
                                        </div>
                                        <div class="col">
                                            <input type="text" name="baseParamValue" class="form-control"
                                                placeholder="Value">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" id="AddInputParams" class="btn btn-primary mt-2">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> | Params</button>
                            </div>

                            <div class="col-md-6">

                                <span> Header:</span>
                                <div id="inputHeaders">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" name="baseHeaderKey" class="form-control"
                                                placeholder="Key">
                                        </div>
                                        <div class="col">
                                            <input type="text" name="baseHeaderValue" class="form-control"
                                                placeholder="Value">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" id="AddInputHeader" class="btn btn-primary mt-2">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> | Headers</button>
                            </div>
                        </div>
                    </div>

                    <div id="mqtt" style="padding: 0px; display: none;">
                        <div class="d-flex" style="padding-top: 10px;">
                            <div class="col-md-3">
                                <label for="user" class="form-label">User</label>
                                <input required type="text" name="user" class="form-control" id="user">
                            </div>
                            <div class="col-md-3">
                                <label for="password" class="form-label">Password</label>
                                <input required type="text" name="password" class="form-control" id="password">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Puerto</label>
                                <input required type="text" name="port" class="form-control" id="port">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Tipo</label>
                                <input required type="text" name="topic" class="form-control" id="topic">
                            </div>
                        </div>
                    </div>

                    <div id="coap" style="padding: 0px;">
                        <div class="d-flex" style="padding-top: 10px;">
                            <div class="col-md-4">
                                <label for="method" class="form-label">Metodo</label>
                                <select required id="method" name="method" class="form-select">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <span> Por Cada:</span>
                                <div id="number">
                                    <div class="row">
                                        <div class="col">
                                            <select id="hora" class="form-select">
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select id="minute" class="form-select">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="port" class="form-label">Puerto</label>
                                <input required type="text" name="port" class="form-control" id="port">
                            </div>
                        </div>
                    </div>
                    
                    <div id="modbus" style="padding: 0px; display: none;">
                        <div class="d-flex" style="padding-top: 10px;">
                            <div class="col-md-4">
                                <label for="comunicacion" class="form-label">Comunicacion</label>
                                <input required type="text" name="comunicacion" class="form-control" id="comunicacion"
                                    value="TCP" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="address" class="form-label">Direccion de Unidad</label>
                                <input required type="text" name="address" class="form-control" id="address">
                            </div>
                            <div class="col-md-4">
                                <label for="port" class="form-label">Puerto</label>
                                <input required type="text" name="port" class="form-control" id="port">
                            </div>
                        </div>
                    </div>

                    <span> Body:</span>
                    <div class="col-md-12">
                        <div id="inputBody">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" name="baseBodyKey" class="form-control" placeholder="Key">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="baseBodyValue" class="form-control" placeholder="Value">
                                </div>
                                <div class="col-md-4 d-flex">
                                    <label for="tags" class="form-label">Tipo Medida</label>
                                    <select required id="tags" name="baseCategoryValue" class="form-select">
                                        {% for tag in tags %}
                                        {% if tag.category == "quantity" %}
                                        <option name="baseCategoryValue" value={{ tag.id }}>{{ tag.id }}</option>
                                        {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="AddInputBody" class="btn btn-primary mt-2">
                            <i class="fa fa-plus-square" aria-hidden="true"></i> | Body</button>
                    </div>
                    <div class="col-md-12 d-flex flex-row-reverse">
                        <input required type="submit" value="Guardar" id="submitSensorForm"
                            class="btn btn-primary mx-1" />
                        <a href="{% url  'listSensor' %}" class="btn btn-secondary mx-1">Atras</a>

                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
<script>

    document.getElementById("AddInputParams").addEventListener("click", function () {
        var inputContainer = document.getElementById("inputParams");

        // Crea un nuevo div para los dos nuevos inputs
        var newInputsDiv = document.createElement("div");
        newInputsDiv.className = "row"

        // Añade los inputs al nuevo div
        newInputsDiv.innerHTML = `
                <div class="col mt-1">
                    <input type="text" name="baseParamKey" class="form-control" placeholder="key">
                </div>
                <div class="col mt-1">
                    <input type="text" name="baseParamValue" class="form-control" placeholder="value">
                </div>

            `;

        // Agrega el nuevo div con los inputs al contenedor
        inputContainer.appendChild(newInputsDiv);
    });

    document.getElementById("AddInputHeader").addEventListener("click", function () {
        var inputContainer = document.getElementById("inputHeaders");

        // Crea un nuevo div para los dos nuevos inputs
        var newInputsDiv = document.createElement("div");
        newInputsDiv.className = "row"

        // Añade los inputs al nuevo div
        newInputsDiv.innerHTML = `
                <div class="col mt-1">
                    <input type="text" name="baseHeaderKey" class="form-control" placeholder="key">
                </div>
                <div class="col mt-1">
                    <input type="text" name="baseHeaderValue" class="form-control" placeholder="value">
                </div>

            `;

        // Agrega el nuevo div con los inputs al contenedor
        inputContainer.appendChild(newInputsDiv);
    });

    document.getElementById("AddInputBody").addEventListener("click", function () {
        var inputContainer = document.getElementById("inputBody");

        // Crea un nuevo div para los dos nuevos inputs
        var newInputsDiv = document.createElement("div");
        newInputsDiv.className = "row"

        // Añade los inputs al nuevo div
        newInputsDiv.innerHTML = `
                <div class="col-md-4">
                    <input type="text" name="baseBodyKey" class="form-control" placeholder="key">
                </div>
                <div class="col-md-4">
                    <input type="text" name="baseBodyValue" class="form-control" placeholder="value">
                </div>
                <div class="col-md-4 d-flex" >
                    <label for="tags" class="form-label">Tipo Medida</label>
                    <select required id="tags" name="baseCategoryValue" class="form-select">
                        {% for tag in tags %}
                        {% if tag.category == "quantity" %}
                        <option name="baseCategoryValue" value={{ tag.id }}>{{ tag.id }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            `;

        // Agrega el nuevo div con los inputs al contenedor
        inputContainer.appendChild(newInputsDiv);
    });

    function jsonPretty(e) {
        console.log(e.value)
    }

    const equipDropdown = document.getElementById('inputStateEquip');
    const spacenameTextbox = document.getElementById('spacename');
    const zoneDropdown = document.getElementById('inputState');

    equipDropdown.addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        const spaceName = selectedOption.getAttribute('data-space');
        const zoneId = selectedOption.getAttribute('data-zone-id');
        const zoneName = selectedOption.getAttribute('data-zone-name');
        spacenameTextbox.value = spaceName;
        zoneDropdown.innerHTML = '';

        const newZoneOption = document.createElement('option');
        newZoneOption.value = zoneId;
        newZoneOption.textContent = zoneName;
        zoneDropdown.appendChild(newZoneOption);
    });

    let selectProtocol = document.getElementById("protocolState");
    let communicationDivs = ["http", "mqtt", "coap", "modbus"];

    selectProtocol.addEventListener('change', function (e) {
        let selectedProtocol = e.currentTarget.value;

        communicationDivs.forEach(protocol => {
            let element = document.getElementById(protocol);
            let isCurrent = protocol === selectedProtocol;
            element.style.display = isCurrent ? "block" : "none";

            let inputs = element.querySelectorAll("input, select");
            inputs.forEach(input => {
                input.required = isCurrent;
                input.disabled = !isCurrent;
                if (!isCurrent) {
                    input.value = "";
                }
            });
        });
    });

    function timeScheduler(comboBoxId, max) {
    const cmbTimeConnection = document.getElementById(comboBoxId);
    
    const specialOption = document.createElement('option');
    specialOption.value = '*';
    specialOption.textContent = '*';
    cmbTimeConnection.appendChild(specialOption);
    
    for (let i = 1; i <= max; i++) {
        const option = document.createElement('option');
        option.value = i.toString();
        option.textContent = i.toString();
        cmbTimeConnection.appendChild(option);
    }
    }
    timeScheduler('minute', 60);
    timeScheduler('hora', 24);
    timeScheduler('minutehttp', 60);
    timeScheduler('horahttp', 24);

</script>
{% endblock %}