{% extends "index.html" %}

{% block title %} Dashboard {% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Editar Entidad</h4>
            </div>
            <div class="card-body">
                <form id="sensorForm" method="POST" action="{% url 'updateSensor' id=sensor.id %}"
                    class="row g-3 justify-content-around">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="name" class="form-label">Nombre</label>
                        <input required type="text" name="name" class="form-control" id="name"
                            value="{{ sensor.name }}">
                    </div>
                    <div class="col-md-3">
                        <label for="inputStateEquip" class="form-label">Equipo</label>
                        <select required id="inputStateEquip" name="equip" class="form-select">
                            <option></option>
                            {% for equip in equips %}
                            <option value="{{ equip.id }}" data-space="{{ equip.space.name }}"
                                data-zone-id="{{ equip.zone.id }}" data-zone-name="{{ equip.zone.name }}">{{ equip.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="spacename" class="form-label">Espacio</label>
                        <input required type="text" name="space" class="form-control" id="spacename" readonly>
                    </div>
                    <div class="col-md-3">
                        <label for="inputState" class="form-label">Sitio</label>
                        <select required id="inputState" name="zone" class="form-select" disabled>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="serial_uuid" class="form-label">Serial</label>
                        <input required type="text" name="serial" class="form-control" id="serial_uuid"
                            value="{{ sensor.series }}">
                    </div>
                    <div class="col-md-12" style="padding: 0px;">
                        <div class="col-md-3">
                            <label for="protocolState" class="form-label">Protocolo</label>
                            <select required id="protocolState" name="protocol" class="form-select">
                                <option value=""></option>
                                {% for tag in tags %}
                                {% if tag.category == "protocol" and tag.state == "A" %}
                                <option value={{ tag.id }}>{{ tag.id }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3" id="planificador">
                            <label for="timeline" class="form-label">Por Cada:</label>
                            <input required type="text" name="timeline" class="form-control" id="timeline"
                            value="{{ scheduler.timeline }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="connection" class="form-label">Coneccion</label>
                        <textarea required class="form-control" name="connection" id="connection" cols=50
                            rows=10>{{ request_data.connection }}</textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="body_request" class="form-label">Body Request</label>
                        <textarea class="form-control" name="body_request" id="body_request" cols=50
                            rows=10>{{ sensor.format }}</textarea>
                    </div>
                    <div class="col-md-12 d-flex flex-row-reverse">
                        <input required type="submit" value="Guardar" id="submitSensorForm"
                            class="btn btn-primary mx-1" />
                        <a href="{% url  'listSensor' %}" class="btn btn-secondary mx-1">Atras</a>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<script>
    const equipDropdown = document.getElementById('inputStateEquip');
    const spacenameTextbox = document.getElementById('spacename');
    const zoneDropdown = document.getElementById('inputState');

    equipDropdown.addEventListener('change', function () {
        const selectedOption = this.options[this.selectedIndex];
        const spaceName = selectedOption.getAttribute('data-space');
        const zoneId = selectedOption.getAttribute('data-zone-id');
        const zoneName = selectedOption.getAttribute('data-zone-name');

        spacenameTextbox.value = spaceName;

        zoneDropdown.innerHTML = '';

        const newZoneOption = document.createElement('option');
        newZoneOption.value = zoneId;
        newZoneOption.textContent = zoneName;
        zoneDropdown.appendChild(newZoneOption);
    });
</script>
{% endblock %}