<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>

                <li>
                    <a target="_blank" rel="noopener noreferrer"
                        href="">
                        Haystack Version 3.9.14 • 19-Jun-2023 10:01 EDT
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright float-right">
            &copy; Copyright Zenith. Todos los derechos reservados
        </div>
    </div>
</footer>