<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
    <div class="logo">
        <a target="_blank" rel="noopener noreferrer" href="" class="simple-text logo-normal">
            Sensor Manager
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item {% if 'form' in segment %} active {% endif %}">
                <a class="nav-link" href="../form">
                    <p>Registro de Sensores</p>
                </a>
            </li>
            <li class="nav-item {% if 'list' in segment %} active {% endif %}">
                <a class="nav-link" href="../list">
                    <p>Sensores Registrados</p>
                </a>
            </li>
        </ul>
    </div>

</div>