<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
    <div class="logo">
        <a target="_blank" rel="noopener noreferrer" href="" class="simple-text logo-normal">
            Sensor Manager
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item {% if 'list' in segment %} active {% endif %}">
                <a class="nav-link" href="../list">
                    <p>Entidades</p>
                </a>
            </li>
            <li class="nav-item {% if 'zonelist' in segment %} active {% endif %}">
                <a class="nav-link" href="../zonelist">
                    <p>Sitios</p>
                </a>
            </li>
            <li class="nav-item {% if 'spacelist' in segment %} active {% endif %}">
                <a class="nav-link" href="../spacelist">
                    <p>Espacios</p>
                </a>
            </li>
            <li class="nav-item {% if 'equiplist' in segment %} active {% endif %}">
                <a class="nav-link" href="../equiplist">
                    <p>Equipos</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <p>Salir</p>
                </a>
            </li>
        </ul>
    </div>

</div>